extends layout

block content
  
  //*** NAVIGATION ***
  header
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(rel='home', href='#', title='GlobalVCG')
            img(src='images/logo.png')
        #collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='#main') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact

  .pages
    //*** MAIN PAGE ***
    #main.page.bg-1
      .content.container
        .row
          #logo-icon-column.col-xs-12
            img#logo-img(src='images/logo2.png')
        .row
          #logo-text-column.col-xs-12
            img#logo-text-img(src='images/splash-text.png')
        .row
          #down-icon-column.col-xs-12
            i#down-icon-button.fa.fa-angle-down
    
    //*** ABOUT PAGE ***
    #about.page
      #about-container.container-fluid
        #particle-container.content.container
          #particles-js
        .content.container
          h1 We Specialize In
          .row
            #leftList.col-md-6
              ul
                li Program Management
                li Vehicle Integration
                li Product Design, Development, & Validation
                li New Business Development
                li Joint Venture Formation Negotiations
            .col-md-6
              ul
                li Technical/I.P. Due Diligence
                li Technical Contracts Preparation
                li Technical/R&D Center Formation, Operationalization & Management
                li Vehicle Launch & Issues Remediation
    
    //*** CONTACT PAGE ***
    #contact.page
      .content.container
        h1 Contact
        .row
          
          // Left side 
          #contact-left-container.col-sm-6
            .row
              #address.col-md-12
                h3 Iftekhar A. Ibrahim (President)
                p 137 Streamview Dr.
                p Troy. Michigan. 48085
                p USA
              #contact-links.col-md-12
                p 1-248-818-8996 (US)
                p 86-15901652708 (China)
                p
                  a#emailAddress(href='mailto:iftekhar.ibrahim@gmail.com') iftekhar.ibrahim@gmail.com
          
          // Right side
          #contact-right-container.col-sm-6
            //- h2 Send a Message
            //- form#contact-form(name='contact-form', role='form', method='post', action='/sendmessage' enctype='multipart/form-data')
            //-   .row-fluid
            //-     .form-group.col-sm-6
            //-       label.h4(for='name') Name
            //-       input#name.form-control(type='text', placeholder='Enter name', required='')
            //-     .form-group.col-sm-6
            //-       label.h4(for='email') Email
            //-       input#email.form-control(type='email', placeholder='Enter email', required='')
            //-     .form-group.col-sm-12
            //-       label.h4(for='message') Message
            //-       textarea#message.form-control(rows='5', placeholder='Enter your message', required='')
            //-   button#form-submit.btn.btn-success.btn-lg.pull-right(type='submit') Submit
            //-   #msgSubmit.h3.text-center.hidden Message Submitted!
            #map


  footer
    .content.container
      .row
        .col-sm-12
          p © 2016 GlobalVCG. All Rights Reserved

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  //- script(src='https://www.google.com/recaptcha/api.js')
  script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBTswwRe1d8fk-KOOKfA3zsL7tNyBwmH3E&callback=initMap')
  script(src='javascripts/myscript.js')
  script(src='http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
  script(src='http://threejs.org/examples/js/libs/stats.min.js')
  script(src='javascripts/particles.js')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-83991040-1', 'auto');ga('send', 'pageview');



