/**  Basic Page CSS **/
html{
  max-width: 100%;
  overflow-x: hidden;
}

body{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: "Open Sans", sans-serif;*/
  font-weight: 300;
  margin: 0;
}

h1{
  font-size: 2em;
}

ul{
  list-style-position: outside;
}

a, a:hover, a:focus{
  color: rgb(212,175,55);
}

textarea{
  resize: none;
}

@media only screen 
and (min-width: 0px)
and (max-width: 768px) {
 h1{
    font-size: 1.8em;
    text-align: center;
  }
}

/*** navbar **/
header .navbar {
  transition: all .5s ease-out;
}

header .navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
}

header .inbody{
  background-color: rgba(255, 255, 255, 1);
}


header .navbar-brand{
  padding-top: 12px;
}

header .navbar-brand img{
  max-width: 150px;
}

header .navbar-default .navbar-nav a{
  color: rgb(100, 100, 100);
}

header .navbar-default .navbar-nav .active a, header .navbar-default .navbar-nav .active a:focus,
header .navbar-default .navbar-nav a:hover, header .navbar-default .navbar-nav .active a:hover{
  color: rgb(189, 130, 23);
}

.nav .active a { 
	background: transparent !important; 
} 

header .navbar .navbar-collapse{
  text-align: center;
}


/**  Page **/
.page h1 {
  margin-bottom: 50px;
}

/** Main Page **/
#main{
  /*background: url('../pics/car.jpg') no-repeat center top;*/
  /*background: url('../pics/car.jpg') no-repeat center top fixed;*/
  background: url('../images/vehicles-reg.jpg') no-repeat center top;
  /*background-size: auto 100%;*/
  background-size: 100% auto;
  position: relative;
}

#main .content.container{
  /*padding: 0px 0px 50px 0px;*/
  text-align: center;
  bottom: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

#main #logo-icon-column{
  position: absolute;
  top: 30%;
}

#main #logo-img{
  height: 130px;
}

#main #logo-text-column{
  position: absolute;
  top: 50%;
}

#main #logo-text-img{
  height: 100px;
}


@media only screen 
and (max-width: 768px){
  #main #logo-text-column{
  position: absolute;
    top: 50%;
  }
  #main #logo-text-img{
    height: 70px;
  }
}

#main #down-icon-column{
  position: absolute;
  bottom: 10px;
}

.fa-angle-down{
  font-size: 4em;
  color: white;
  transition: all .25s;
}

.fa-angle-down:hover{
  color: rgba(255, 236, 179, 0.8);
  cursor: pointer;
  text-shadow: 0px -4px 3px #555;
}

/** About Page ***/
#about{
  
}

#about #about-container{
  padding: 0px;
  margin: 0px;
}

#about h1{
  color: rgba(212,175,55,1);
}

#about #particle-container{
  position: absolute;
  padding: 0px;
  width: 100%;
}

#particles-js{
  width: 100%;
}

#about .content.container{
  padding: 70px 10px 50px 10px;
}

#about .content.container .col-md-6{
  padding-left: 0px;
}

#about li{
  padding-bottom: 10px;
}

@media only screen 
and (min-width: 0px)
and (max-width: 768px) {
  #about .row{
    padding: 0 10%;
    font-size: 0.8em;
  }

}

/*** Contact Page ***/
#contact{
  background-color: #F9F9F9;
}
#contact, #contact h1{
  text-align: left;
}

#contact .content.container{
  padding: 50px 10px 50px 10px;
}

@media only screen 
and (min-width: 0px)
and (max-width: 768px) {
  #contact .row{
    padding: 0 5%;
  }
  #contact h1, #contact h2{
    text-align: center;
  }
}

#contact h1{
  color: #D4AF37;
}

#contact h2{
  font-size: 1.2em;
  padding-left: 15px;
  padding-bottom: 15px;
  color: rgba(212,175,55,1);
}

#contact .h4{
  color: #777;
}

/*** Contact Info ***/

#contact-left-container p{
  font-size: 20px;
  margin-bottom: 0px;
  color: #444;
}

#contact-left-container h3{
  color: #777;
  margin-bottom: 10px;
  padding-left: 2px;
  font-size: 22px;
}

@media only screen 
and (min-width: 0px)
and (max-width: 768px) {
  #contact-left-container{
    margin-bottom: 10px;
  }
}

#address, #contact-links{
  margin-bottom: 30px;
}

#contact-links p{
  margin-bottom: 7px;
}

/*** Contact Form ***/`
#contact-right-container{
  margin-top: -5px;
}

#contact-form{
  text-align: left;
}

/* contact form styles */
.form-control {
  border: 1px solid #555;
  box-shadow: none;
  background-color: white;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control::-webkit-input-placeholder{
    color: #555;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #555;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #555;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #555;
}

.form-control:focus {
    border-color: rgb(226, 175, 20);
    box-shadow: 0px 0px 5px rgba(255, 236, 179, 1);
}

/*submit button styles*/
#form-submit{
  color: #AAA;
  margin-right: 15px;
  background-color: white;
  border: 2px solid;
  transition: all ease-in-out .15s;
}

#form-submit:hover, #form-submit:focus{
  color: white;
  background-color: rgb(236, 182, 58);
  border: 2px solid;
}

/* Map */
#map{
  width: 90%;
  height: 235px;
}

/*** Footer ***/
footer{
  background-color: #F9F9F9;
}

footer .content.container{
  text-align: center;
  font-size: 14px;
  color: #666;
}

footer p{
  margin: 5px 0 10px 0;
}


